/* BOTTOM APP */
.bottomApp{
    height: 100vh;
    width: 100vw;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* POSITIONS ABSOLUTE AND RELATIVES*/

.bottomApp--leftLink{
    position: absolute;
    bottom: 0;
    left: 0;

    margin-bottom: 2vh;
    margin-left: 2vw;
}

.bottomApp--AllSocialNetworks{
    position: absolute;
    bottom: 0;
    right: 0;

    margin-bottom: 2vh;
    margin-right: 2vw;
}

.bottomApp--socialNetworks{
    font-size: 2vw;
    margin-right: 0.5vw;

    color: var(--main-color);
    transition: color 0.3s
}

.bottomApp--socialNetworks:hover{
    color: #ffffff7d;
}
/* POSITIONS ABSOLUTE AND RELATIVES*/

.bottomApp--h2{
    margin-top: 10vh;

    font-family: 'Cormorant Garamond';
    font-size: 3.5vw;

    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.bottomApp--AllProjects{
    width: 20%;
}

.projectTitle{
    font-family: 'Cormorant Garamond';
    font-size: 2vw;
    font-weight: 300;

    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.bottomApp-ProjectBox:nth-child(1){
    margin-top: 5vh;
}

.bottomApp-ProjectBox{
    margin-top: 3vh;
    cursor: pointer;
    width: fit-content;

}

.bottomApp--AllProjects a{
    text-decoration: none;
    color: #9f7866;
    transition: color 0.3s;
}

.bottomApp-ProjectBox a:hover{
    color: rgb(185, 158, 145);
}

/* BOTTOM APP */



/* MEDIA QUERIES FOR < 1440 PX */
@media screen and (max-width: 1440px) {

    /* TITLE */
    .bottomApp--h2{
        margin-top: 15vh;
        font-size: 5vw;
    }
    /* TITLE */

    .bottomApp--AllProjects{
        width: 30%;
    }

    .projectTitle{
        font-size: 3.5vw;
    }
    .projectDate{
        font-size: 2vw;
    }


    .bottomApp--socialNetworks{
        font-size: 3vw;
    }


}
/* MEDIA QUERIES FOR < 1440 PX */



/* MEDIA QUERIES FOR < 1024 PX */
@media screen and (max-width: 1024px) {

    /* POSITIONS RELATIVES */
    .bottomApp--leftLink{
        margin-bottom: 7vh;
        margin-left: 5vw;
    }
    /* POSITIONS RELATIVES */

    /* TITLE */
    .bottomApp--h2{
        margin-top: 15vh;
        font-size: 6vw;
    }
    /* TITLE */

    .bottomApp--AllProjects{
        width: 40%;
    }

    .projectTitle{
        font-size: 4.25vw;
    }
    .projectDate{
        font-size: 2.5vw;
    }


    .bottomApp--AllSocialNetworks{
        margin-bottom: 7vh;
        margin-right: 5vw;
    }
    .bottomApp--socialNetworks{
        font-size: 4vw;
    }


}
/* MEDIA QUERIES FOR < 1024 PX */



/* MEDIA QUERIES FOR < 768 PX */
@media screen and (max-width: 768px) {

    /* POSITIONS RELATIVES */
    .bottomApp--leftLink{
        margin: 0;
        margin-top: 7vh;
        left: auto;
        bottom: auto;
        top: 0;
    }
    .bottomApp--leftLink i{
        display: none;
    }
    /* POSITIONS RELATIVES */

    /* TITLE */
    .bottomApp--h2{
        margin-top: 15vh;
        font-size: 7vw;
    }
    /* TITLE */

    .bottomApp--AllProjects{
        width: 50%;
    }

    .projectTitle{
        font-size: 5.5vw;
    }
    .projectDate{
        font-size: 3vw;
    }


    .bottomApp--AllSocialNetworks{
        margin: 0;
        margin-bottom: 7vh;
        right: auto;

        width: 25%;

        display: flex;
        justify-content: space-between;
    }
    .bottomApp--socialNetworks{
        font-size: 6vw;
    }


}
/* MEDIA QUERIES FOR < 768 PX */


/* MEDIA QUERIES FOR < 425 PX */
@media screen and (max-width: 425px) {

    /* POSITIONS RELATIVES */
    .bottomApp--leftLink{
        margin: 0;
        margin-top: 10vh;
        left: auto;
        bottom: auto;
        top: 0;
    }
    .bottomApp--leftLink i{
        display: none;
    }
    /* POSITIONS RELATIVES */

    /* TITLE */
    .bottomApp--h2{
        margin-top: 17vh;
        font-size: 8vw;
    }
    /* TITLE */

    .bottomApp--AllProjects{
        width: fit-content;
        justify-content: center;
    }

    .projectTitle{
        font-size: 7vw;
    }
    .projectDate{
        font-size: 4vw;
    }


    .bottomApp--AllSocialNetworks{
        margin: 0;
        margin-bottom: 12vh;
        right: auto;

        width: 40%;

        display: flex;
        justify-content: space-between;
    }
    .bottomApp--socialNetworks{
        font-size: 8vw;
    }


}
/* MEDIA QUERIES FOR < 425 PX */