/* MIDDLE APP */

.middleApp{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* POSITIONS ABSOLUTE AND RELATIVES*/

.middleApp{
    position: relative;
}

.middleApp--topLink{
    position: absolute;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 2vh;
}

.middleApp--bottomLink{
    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-right: 2vw;
    margin-bottom: 2vh;
}


/* POSITIONS ABSOLUTE AND RELATIVES*/

/* TITLES H2 & H3*/

.middleApp--h2{
    margin-top: 10vh;

    font-family: 'Cormorant Garamond';
    font-size: 3.5vw;

    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.middleApp--h3{
    margin-top: 4vh;

    font-family: 'Cormorant Garamond';
    font-size: 2vw;
    font-weight: 300;

    text-transform: uppercase;
    letter-spacing: 0.1em;
}

/* TITLES H2 & H3*/


/* TEXTS*/

.middleApp--texts{
    height: 60%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.middleApp--text:nth-child(1){
    margin-top: 10vh;
}

.middleApp--text{
    margin-top: 4vh;
    
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.4vw;

    width: 30%;
}

/* TEXTS*/


/* MIDDLE APP */







/* MEDIA QUERIES FOR < 1440 PX */
@media screen and (max-width: 1440px) {

    /* POSITIONS RELATIVE */
    .middleApp--topLink{
        margin-top: 5vh;
    }
    /* POSITIONS RELATIVE */

    /* TITLES */
    .middleApp--h2{
        margin-top: 15vh;
        font-size: 5vw;
    }

    .middleApp--h3{
        font-size: 3.5vw;
    }
    /* TITLES */

    /* TEXTS */
    .middleApp--text{
        width: 40%;
        font-size: 2.25vw;
    }
    /* TEXTS */


}
/* MEDIA QUERIES FOR < 1440 PX */



/* MEDIA QUERIES FOR < 1024 PX */
@media screen and (max-width: 1024px) {

    /* POSITIONS RELATIVE */
    .middleApp--topLink{
        margin-top: 7vh;
    }

    .middleApp--bottomLink{
        margin-bottom: 7vh;
        margin-right: 5vw;
    }
    /* POSITIONS RELATIVE */

    /* TITLES */
    .middleApp--h2{
        margin-top: 15vh;
        font-size: 6vw;
    }

    .middleApp--h3{
        font-size: 4.25vw;
    }
    /* TITLES */

    /* TEXTS */
    .middleApp--text{
        width: 50%;
        font-size: 3vw;
    }
    /* TEXTS */


}
/* MEDIA QUERIES FOR < 1024 PX */


/* MEDIA QUERIES FOR < 768 PX */
@media screen and (max-width: 768px) {

    /* POSITIONS RELATIVE */
    .middleApp--topLink{
        margin-top: 10vh;
    }

    .middleApp--bottomLink{
        margin: 0;
        margin-bottom: 10vh;
        right: auto;
    }
    .middleApp--bottomLink i{
        display: none;
    }
    /* POSITIONS RELATIVE */

    /* TITLES */
    .middleApp--h2{
        margin-top: 20vh;
        font-size: 7vw;
    }

    .middleApp--h3{
        font-size: 5vw;
    }
    /* TITLES */

    /* TEXTS */
    .middleApp--text:nth-child(1){
        margin-top: 3.5vh;
    }
    .middleApp--text{
        width: 65%;
        font-size: 4vw;
    }
    /* TEXTS */


}
/* MEDIA QUERIES FOR < 768 PX */


/* MEDIA QUERIES FOR < 425 PX */
@media screen and (max-width: 425px) {

    /* POSITIONS RELATIVE */
    .middleApp--topLink{
        margin-top: 3vh;
    }

    .middleApp--bottomLink{
        margin: 0;
        right: auto;
        margin-bottom: 12vh;
    }
    .middleApp--bottomLink i{
        display: none;
    }
    /* POSITIONS RELATIVE */

    /* TITLES */
    .middleApp--h2{
        margin-top: 17.5vh;
        font-size: 8vw;
        letter-spacing: 0.05rem;
    }

    .middleApp--h3{
        font-size: 7vw;
    }
    /* TITLES */

    /* TEXTS */
    .middleApp--text:nth-child(1){
        margin-top: 4vh;
    }
    .middleApp--text{
        width: 70%;
        font-size: 4.5vw;
    }
    /* TEXTS */


}
/* MEDIA QUERIES FOR < 425 PX */