/* TOP APP */

/* POSITIONS ABSOLUTE & RELATIVE */
.topApp{
    position: relative;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topApp--LeftEm{
    position: absolute;
    top: 0;
    left: 0;

    font-size: 4vw;
    font-family: 'Babylonica', cursive;
    font-weight: 300;
    color: #9f7866;
}

.pageNumber{
    position: absolute;
    top: 0;
    right: 0;

    margin-top: 6vh;
    margin-right: 3vw;

    font-size: 1.5vw;
    color: #9f7866;
}

.topApp--BottomLink{
    position: absolute;
    bottom: 0;
    margin-bottom: 2vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* POSITIONS ABSOLUTE */

/* TITLES */

.topApp--AllTitle{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    font-family: 'Cormorant Garamond';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 5.5vw;
    cursor: default;
    transition: all .4s;
}


.topApp--AllTitle h1{
    width: fit-content;
    text-align: center;
}

.topApp--FirstTitle, .topApp--SecondTitle, .topApp--ThirdTitle{
    display: flex;
    justify-content: center;
    height: fit-content;
}

.topApp--FirstLine{
    display: flex;
    justify-content: center;
}

.topApp--SecondLine{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.topApp--ThirdTitle{
    margin-left: 2vw;
}


.topApp--TitleLetter{
    color: var(--main-title-color);
}

/* class for animation on title */
.brown{
    transition: all 1s;
    color : var(--main-transition-title-color);
}

.white{
    transition: all 1s;
    color: var(--main-title-color);
}

.opacity{
    transition: all 1s;
    opacity: 0;
}
/* class for animation on title */



/* TITLES */


/* H2 FRENCH DEVELOPPER */

.topApp--h2{
    text-transform: uppercase;

    font-family: 'Cormorant Garamond';
    font-size: 1.4vw;
}

/* H2 FRENCH DEVELOPPER */

/* VERSION OF SITE */

.topApp--Pversion{
    margin-top: 2vh;

    font-size: 2vw;
    font-family: 'Cormorant Garamond';
    font-weight: 800;
}

.appVersionSpan{
    font-size: 90%;
}

/* VERSION OF SITE */

/* TOP APP */





/* MEDIA QUERIES FOR < 1440 PX */
@media screen and (max-width: 1440px) {

    /* POSITIONS ABSOLUTE */
    .darkThemeBox{
        font-size: 2vw;
    }

    .allLink{
        font-size: 2vw;
    }


    .topApp--LeftEm{
        font-size: 7vw;
    }

    .pageNumber{
        font-size: 3vw;
    }

    .topApp--BottomLink{
        margin-bottom: 5vh;
    }
    /* POSITIONS ABSOLUTE */


    /* TITLES */
    .topApp--TitleLetter{
        font-size: 15vw;
    }

    .topApp--h2{
        font-size: 2vw;
    }
    /* TITLES */


    .topApp--Pversion{
        font-size: 3vw;
    }

}
/* MEDIA QUERIES FOR < 1440 PX */




/* MEDIA QUERIES FOR < 1024 PX */
@media screen and (max-width: 1024px) {

        /* POSITIONS ABSOLUTE */
        .darkThemeBox{
            font-size: 3vw;
        }
    
        .allLink{
            font-size: 3vw;
        }
    
    
        .topApp--LeftEm{
            font-size: 9vw;
        }
    
        .pageNumber{
            font-size: 3.5vw;
        }
    
        .topApp--BottomLink{
            margin-bottom: 7vh;
        }
        /* POSITIONS ABSOLUTE */
    
    
        /* TITLES */
        .topApp--TitleLetter{
            font-size: 17vw;
        }
    
        .topApp--h2{
            font-size: 2.5vw;
        }
        /* TITLES */
    
    
        .topApp--Pversion{
            font-size: 4vw;
        }
}

/* MEDIA QUERIES FOR < 1024 PX */




/* MEDIA QUERIES FOR < 768 PX */
@media screen and (max-width: 768px) {

    /* POSITIONS ABSOLUTE */
    .darkThemeBox{
        margin-top: 5vh;
        font-size: 4.5vw;
    }

    .allLink{
        font-size: 5vw;
    }

    .topApp--LeftEm{
        margin-top: 3vh;
        font-size: 10vw;
    }

    .pageNumber{
        margin-top: 10vh;
        font-size: 4vw;
    }

    .topApp--BottomLink{
        margin-bottom: 10vh;
    }
    /* POSITIONS ABSOLUTE */


    /* TITLES */
    .topApp--TitleLetter{
        font-size: 17vw;
    }

    .topApp--h2{
        font-size: 3vw;
    }
    /* TITLES */


    .topApp--Pversion{
        font-size: 5vw;
    }
}

/* MEDIA QUERIES FOR < 768 PX */


/* MEDIA QUERIES FOR < 425 PX */
@media screen and (max-width: 425px) {

    /* POSITIONS ABSOLUTE */
    .darkThemeBox{
        margin-right: 3.5vw;
        margin-top: 3vh;
        font-size: 5vw;
    }

    .allLink{
        font-size: 6vw;
    }

    .topApp--LeftEm{
        margin-left: 1vw;
        margin-top: 2vh;

        font-size: 8.5vw;
    }

    .pageNumber{
        margin-right: 3.5vw;
        margin-top: 8vh;
        font-size: 6vw;
    }

    .topApp--BottomLink{
        margin-bottom: 12vh;
    }
    /* POSITIONS ABSOLUTE */


    /* TITLES */

    .topApp--FirstTitle .topApp--TitleLetter{
        font-size: 19vw;
    }

    .topApp--TitleLetter{
        font-size: 16vw;
    }

    .topApp--h2{
        margin-top: 5vh;
        text-align: center;
        font-size: 4.5vw;
    }
    /* TITLES */


    .topApp--Pversion{
        margin-top: 5vh;
        font-size: 7vw;
    }
}

/* MEDIA QUERIES FOR < 425 PX */